.cont{
    margin: 10px;
    color: rgb(34, 19, 1);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:250px;
    height: 40px;
    margin: 5px;
}
.name{
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-shadow: 2px 0px 3px rgb(63, 62, 62);
    margin-left: 10px;
    margin-right: 10px;
}
.btn{
    cursor:pointer;
    display:flex;
    font-size: 1.2rem;
    align-items:center;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}